<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.umlgen.reverse.c.ui.reverseCode"
            icon="icons/reverse_code.gif">
      </image>
      <image
            commandId="org.eclipse.umlgen.reverse.c.ui.generateCode"
            icon="icons/generate_code.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.umlgen.reverse.c.ui.addSynchNature"
            name="Add C2UML Synchronization Nature">
      </command>
      <command
            id="org.eclipse.umlgen.reverse.c.ui.removeSynchNature"
            name="Remove C2UML Synchronization Nature">
      </command>
      <command
            id="org.eclipse.umlgen.reverse.c.ui.generateCode"
            name="Generate C Code from UML">
      </command>
      <command
            description="Allows to reverse your C code."
            id="org.eclipse.umlgen.reverse.c.ui.reverseCode"
            name="Reverse C Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.umlgen.reverse.c.ui.internal.handler.AddC2UMLSyncNature"
            commandId="org.eclipse.umlgen.reverse.c.ui.addSynchNature">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.cdt.core.cnature">
               </test>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.umlgen.reverse.c.ui.internal.handler.GenerateCCodeFromUML"
            commandId="org.eclipse.umlgen.reverse.c.ui.generateCode">
      </handler>
      <handler
            class="org.eclipse.umlgen.reverse.c.ui.internal.handler.GenerateActivityDiagrams"
            commandId="org.eclipse.umlgen.reverse.c.ui.reverseCode">
      </handler>
      <handler
            class="org.eclipse.umlgen.reverse.c.ui.internal.handler.RemoveC2UMLSyncNature"
            commandId="org.eclipse.umlgen.reverse.c.ui.removeSynchNature">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.umlgen.reverse.c.syncNature">
               </test>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.addSynchNature"
               label="Add C2UML Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.umlgen.reverse.c.syncNature">
                     </test>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.removeSynchNature"
               label="Remove C2UML Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.umlgen.reverse.c.syncNature">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.reverseCode"
               label="Generate activity diagrams"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.umlgen.reverse.c.ui.hasNature"
                              value="org.eclipse.umlgen.reverse.c.syncNature">
                        </test>
                        <iterate
                              ifEmpty="false">
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Activity">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Operation">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Class">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Package">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.OpaqueBehavior">
                              </test>
                           </or>
                        </iterate>
                     </and>
                  </with>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.ui.views.ContentOutline">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.topcased.modeler.uml.editor.UMLEditor"><!-- FIXME MIGRATION reference to org.topcased.modeler -->   
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.umlgen.reverse.c.ui.generateCode"
               label="Generate C code"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.umlgen.reverse.c.ui.hasNature"
                              value="org.eclipse.umlgen.reverse.c.syncNature">
                        </test>
                        <iterate
                              ifEmpty="false">
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Activity">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Operation">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Class">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Interface">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.Package">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.eclipse.uml2.uml.OpaqueBehavior">
                              </test>
                              <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
                              <test
                                    args="org.topcased.modeler.uml.activitydiagram"
                                    forcePluginActivation="true"
                                    property="org.eclipse.umlgen.reverse.c.ui.objectType"
                                    value="org.topcased.modeler.di.model.Diagram">
                              </test>
                           </or>
                        </iterate>
                     </and>
                  </with>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.ui.views.ContentOutline">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.topcased.modeler.uml.editor.UMLEditor"><!-- FIXME MIGRATION reference to org.topcased.modeler -->   
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <!-- FIXME MIGRATION reference to org.topcased.facilities -->   
      <page
            category="org.topcased.facilities.preferences.property.TopcasedPreferencePage"
            class="org.eclipse.umlgen.reverse.c.ui.properties.C2UMLPropertyPage"
            id="org.eclipse.umlgen.reverse.c.BuilderPropertyPage"
            name="C to UML">
         <filter
               name="open"
               value="true">
         </filter>
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.umlgen.reverse.c.syncNature">
               </test>
            </and>
         </enabledWhen>
      </page>
   </extension>
<!-- FIXME MIGRATION reference to org.topcased.modeler -->   
<!--   <extension
         point="org.topcased.modeler.templates">
      <template
            di="templates/%name%.umldi"
            editorId="org.topcased.modeler.uml.editor.UMLEditor"
            id="org.eclipse.umlgen.reverse.c.ui.template"
            isDiagram="false"
            model="templates/%name%.uml"
            name="C Synchronization Approach">
      </template>
   </extension> -->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.umlgen.reverse.c.ui.internal.tester.HasNaturePropertyTester"
            id="org.eclipse.umlgen.reverse.c.ui.naturePropertyTester"
            namespace="org.eclipse.umlgen.reverse.c.ui"
            properties="hasNature"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.umlgen.reverse.c.ui.internal.tester.ObjectTypePropertyTester"
            id="org.eclipse.umlgen.reverse.c.ui.objectTypePropertyTester"
            namespace="org.eclipse.umlgen.reverse.c.ui"
            properties="objectType"
            type="org.eclipse.emf.ecore.EObject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.topcased.modeler.editor.Modeler"><!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertyTab
               afterTab="org.topcased.modeler.modelTab"
               category="model"
               id="org.topcased.modeler.modelTab.metadataTab"
               indented="true"
               label="Metadata">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.topcased.modeler.editor.Modeler"><!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               afterSection="org.topcased.modeler.uml.internal.properties.sections.classifier.ClassifierElementsVisibilityPropertySection"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.ConditionalNodeTestSection"
               id="org.topcased.modeler.uml.conditionalNodeTest"
               tab="org.topcased.modeler.modelTab">
            <input
                  type="org.eclipse.uml2.uml.ConditionalNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               afterSection="org.topcased.modeler.uml.conditionalNodeTestitionalNodeTest"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.ClauseAssistantSection"
               id="org.topcased.modeler.uml.conditionalNodeAssistant"
               tab="org.topcased.modeler.modelTab">
            <input
                  type="org.eclipse.uml2.uml.ConditionalNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               afterSection="org.topcased.modeler.uml.internal.properties.sections.classifier.ClassifierElementsVisibilityPropertySection"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeKindSection"
               id="org.topcased.modeler.uml.loopNodeKind"
               tab="org.topcased.modeler.modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               afterSection="org.topcased.modeler.uml.loopNodeKind"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeInitializationSection"
               id="org.topcased.modeler.uml.loopNodeInitialization"
               tab="org.topcased.modeler.modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               afterSection="org.topcased.modeler.uml.loopNodeInitialization"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeTestSection"
               id="org.topcased.modeler.uml.loopNodeCondition"
               tab="org.topcased.modeler.modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               afterSection="org.topcased.modeler.uml.loopNodeCondition"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeIterationSection"
               id="org.topcased.modeler.uml.loopNodeIteration"
               tab="org.topcased.modeler.modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               afterSection="org.topcased.modeler.uml.loopNodeIteration"
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.LoopNodeBodyPartSection"
               id="org.topcased.modeler.uml.loopNodeBodyPart"
               tab="org.topcased.modeler.modelTab">
            <input
                  type="org.eclipse.uml2.uml.LoopNode">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.CharsetSection"
               id="org.topcased.modeler.uml.metadata.charset"
               tab="org.topcased.modeler.modelTab.metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Model">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.CFileRelativePathSection"
               id="org.topcased.modeler.uml.metadata.cFileLocation"
               tab="org.topcased.modeler.modelTab.metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.HFileRelativePathSection"
               id="org.topcased.modeler.uml.metadata.hFileLocation"
               tab="org.topcased.modeler.modelTab.metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.IfNDefSection"
               id="org.topcased.modeler.uml.metadata.ifNDefCondition"
               tab="org.topcased.modeler.modelTab.metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
         </propertySection>
         <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
         <propertySection
               class="org.eclipse.umlgen.reverse.c.ui.properties.sections.StandardLibrarySection"
               id="org.topcased.modeler.uml.metadata.stdLibraryInclusion"
               tab="org.topcased.modeler.modelTab.metadataTab">
            <input
                  type="org.eclipse.uml2.uml.Usage">
            </input>
         </propertySection>
	  </propertySections>         
   </extension>
   <!-- FIXME MIGRATION reference to org.topcased.modeler -->   
   <!-- <extension
         point="org.topcased.modeler.uml.operationBodyLanguage">
      <Language
            bodyCompositeFactory="org.topcased.modeler.uml.internal.properties.sections.operation.behavior.DefaultBodyCompositeFactory"
            name="C">
      </Language>
   </extension> -->
</plugin>
